<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Login"/>
    <input type="password" name="username" placeholder="Password"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="submit" value="Sign In"/>
</form>
    <b><a href="/registration">Sign Up</a></b>
</body>
</html>