<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
{{#message}}
    <b>{{message}}</b>
{{/message}}
<form method="post">
    <input type="text" name="username" placeholder="Login"/>
    <input type="password" name="username" placeholder="Password"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="submit" value="Sign Up"/>
</form>
    <b><a href="/login">Back</a></b>
</body>
</html>